*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: yellowgreen;
}

.topContainer{
    width: 100%;
    border-style: solid;
    border-color: red;
}

.addBook{
    border-style: solid;
    border-color: green;
}

.formContainer{
    visibility: hidden;
    border-style: solid;
    border-color: blue;
}

.formContainer .show{
    visibility: visible;
}
